<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Azure Telegram Bots - itsyourap</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.min.css') }}">
</head>
<html lang="en">
<body>
<main>
    <div class="vh-100 d-flex flex-column justify-content-center align-items-center">

        <img class="img-fluid px-5" width="400px"
             src="{{ url_for('static', filename='images/azure-plus-telegram-icon.svg') }}"
             alt="Azure Plus Telegram"/>

        <a class="h3 mt-5 px-2 fw-bold text-primary text-underline-hover"
           href="https://github.com/itsyourap/azure-flask-telegram-bots">Telegram Bots on Azure Web App</a>

        <a class="h5 mt-1 px-4 fw-bold text-secondary text-underline-hover"
           href="https://github.com/itsyourap">by itsyourap</a>

    </div>
</main>
</body>
</html>